<% chart_type ||= "ColumnChart" %>

<div class="row">
<div id="<%= chart_name %>" class="span6"></div>
<div id="<%= chart_name %>_pie" class="span4"></div>
</div>
<script type="text/javascript">

var chart1; // globally available
$(document).ready(function() {
    Highcharts.setOptions({
        chart: {
            style: {
                fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif'
            }
        }
    });

    var chart = new Highcharts.Chart({
        chart: {
            renderTo: '<%= chart_name %>',
            defaultSeriesType: 'column',
            },
        title: null,
        xAxis: {
            // opposite: true,
            categories: <%= legend.inspect %>,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                align: 'high',
                text: 'Amount'
            },
            labels: {
                formatter: function() {
                    return '$' + Highcharts.numberFormat(this.value/1000000, 0) +'M ';
                }
            }

        },
        tooltip: {
            formatter: function () {
                return 'Amount: ' + '$' + Highcharts.numberFormat(this.y, 0);
            }
        },
        plotOptions: {
           column: {
              stacking: 'normal',
           }
        },
        series: <%= data.to_json %>
        });
});
</script>