<% chart_type ||= "ColumnChart" %>
<% urls ||= nil %>
<% stacked ||= nil %>

<div id="<%= chart_name %>"></div>

<script type="text/javascript">

var chart1; // globally available
$(document).ready(function() {
    Highcharts.setOptions({
        chart: {
            style: {
                fontFamily: '"PT Sans", sans-serif;'
            }
        }
    });

    <% unless urls.nil? %>
    var imagesMap = {};
    var clickThroughURLs = <%= urls.inspect %>;
    function drawImages() {
        var chart = this;
        for (var i = 0; i < chart.series[0].data.length; i++) {
            var URLIndex = i;
            var imageWidth = 18,
                x = chart.plotLeft + chart.xAxis[0].translate(i, false) - imageWidth / 2,
                y = chart.plotTop - imageWidth / 2;
            imagesMap[i] = chart.renderer.image('/img/glyphicons/eye.png', x, y, imageWidth, imageWidth)
                .on('click', function(e) {
                    location.href = clickThroughURLs[e.target.index]
                })
                .attr({
                    zIndex: 100
                })
                .css({
                    cursor: 'pointer'
                })
                .add();
            imagesMap[i].element.index = i;
        }
    };

    function alignImages() {
        var chart = this;
        for (var i = 0; i < chart.series[0].data.length; i++) {
            var imageWidth = 18,
                x = chart.plotLeft + chart.xAxis[0].translate(i, false) - imageWidth / 2,
                y = chart.plotTop - imageWidth / 2;

            imagesMap[i].attr({
                x: x,
                y: y});
        }
    }
    <% end %>


    var chart = new Highcharts.Chart({
        chart: {
            renderTo: '<%= chart_name %>',
            defaultSeriesType: 'column',
            spacingLeft: 5,
            spacingTop: 55,
            <% unless urls.nil? %>
            events: {
                load: drawImages,
                redraw: alignImages
            }
            <% end %>
        },
        credits: {
            enabled: false
        },
        legend: {
            align: "left",
            verticalAlign: "top",
            floating: true,
            y: -45,
            borderWidth: 0
        },
        title: null,
        xAxis: {
            labels: {
                rotation: -50,
                align: 'right',
                style: {
                    font: '10px "PT Sans", sans-serif'
                }
            },
            categories: <%= legend.inspect %>,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                align: 'high',
                text: 'Amount'
            },
            labels: {
                formatter: function() {
                    return '$' + Highcharts.numberFormat(this.value/1000000, 0) +'M ';
                }
            }

        },
        tooltip: {
            formatter: function () {
                return 'Amount: ' + '$' + Highcharts.numberFormat(this.y, 0);
            }
        },
        <% if stacked %>
        plotOptions: {
           column: {
              stacking: 'normal',
           }
        },
        <% end %>
        series: <%= data.to_json %>
        });
});
</script>