<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= @title.nil? ? "Muckraker" : "Muckraker: #{@title}" %></title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow|Asap' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/js/jquery.1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/js/highcharts/highcharts.js"></script>
	<style type="text/css">
	    @media (min-width: 980px) {
		    body {
	        	padding-top: 60px;
		        padding-bottom: 40px;
	    	}
	    }
    </style>
</head>
<body>
	<%= partial "navigation" %>
    <div class="container">
		<div class="row-fluid">
			<% if show_secondary_navigation? %>
			<div class="span3">
				<div class="well sidebar-nav">
					<%= render_navigation(:level => 2) %>
				</div>
				<% if @sidebar_text %>
				<p class='muted'><%= @sidebar_text %></p>
				<% end %>
			</div>
			<div class="span9">
				<div class="row">
					<div class="span9">
						<h1><%= active_navigation_item_name %></h1>
					</div>
				</div>

				<%= yield %>
			</div>
			<% else %>
			<div class="span12">
				<%= yield %>
			</div>
			<% end %>
		</div>
	</div>
</body>
</html>