<html>
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        <% @data_sets.each_with_index do |data_set, index| %>
        // Create the data table.
        var data = new google.visualization.DataTable();

        <% data_set.columns[:names].each_with_index do |column_name, column_index| %>
        data.addColumn('<%= data_set.columns[:types][column_index] %>', '<%= column_name.gsub("\'", "\\\'") %>');
        <% end %>

        data.addRows([
        <% data_set.legend.length.times do |i| %>
            <% data = data_set.data[i] %>
            <% data = data.join(",") if data.kind_of?(Array) %>
            ['<%= data_set.legend[i].downcase.titlecase.gsub("\'", "\\\'") %>', <%= data %>],
        <% end %>
        ]);

        // Set chart options
        var options = {'title':'<%= data_set.title %>', 'width':<%= @chart_width || 600 %>, 'height':<%= @chart_height || 400 %>};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.<%= data_set.chart_type %>(document.getElementById('chart_<%= index %>'));
        chart.draw(data, options);
        <% end %>
      }
    </script>
</head>
<body>
    <!--Div that will hold the pie chart-->
    <% @data_sets.length.times do |index| %>
    <div id="chart_<%= index %>" style="width:<%= @chart_width || 600 %>; height:<%= @chart_height || 400 %>"></div>
    <% end %>
</body>
</html>